<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<title>home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
	<div class="container-fluid text-center">
		<h1>Welcome!</h1>
		<p>Click <a th:href="@{/hello}">here</a></p>
	</div>
</body>
</html>
